.mainBody {
	background-color: #C0DFF4;
	margin: 0 0 0 0;
}

.topPanel {
	padding: 5px 10px 5px 30px;
	background-image:url('VAADIN/themes/opencerttheme/images/1px_panel_top.gif');
	background-repeat:repeat-x;  
}

.welcomeHeader {
	font-family: Arial, Verdana, sans-serif;
	font-size: 26px;
	font-weight: bold;
	padding: 30px 0 0 50px;
	color: white;
}

.messagesPanel {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	padding-top: 30px;
	padding-left: 50px; 
}

.messageException {
	color: red;
}

.messageOK {
	color: green;
}

.messageNotOK {
	color: orange;
}

.formSection {
    margin: 100px auto 0 auto;
    width: 250px;
    padding: 40px 40px 30px 50px;
    background-color: #92BAE6;
    border-width: 2px;
    border-color: #BCBCBC;
  	border-radius: 15px;
  	border-style: solid;
}

.fieldRow {
	padding-bottom: 10px;
}
	
.fieldLabel {
	font-family: Arial, Verdana, sans-serif;
	font-size: 14px;
	display: block;
}

.rememberMeLabel {
	font-family: Arial, Verdana, sans-serif;
	font-size: 13px;
	font-style: italic;
	padding: 10px 0 30px 0;
}

.loginButton {
	text-align: center;
	background-color: #E5E9F7;
    border-width: 2px;
  	border-radius: 5px;
  	border-color: #BCBCBC;
  	border-style: solid;
  	font-family: "arial";
	font-size: 11px;
	font-weight: bold;
	padding: 5px 10px 5px 10px;
	text-shadow: none;
}

.loginButton:HOVER {
	background-color: #999DAB;
}